@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

body {
  font-family: 'Anta', sans-serif;
  background-color: var(--body-bg);
}

/* light mode colors */
:root {
  --body-bg: var(--p-surface-0);

  --overlay: rgba(255, 255, 255, 0.2);

  /* HomeView.vue feature gradient */
  --gradient-gaming: linear-gradient(135deg, var(--p-purple-200), var(--p-blue-300));
  --gradient-audio: linear-gradient(135deg, var(--p-cyan-200), var(--p-green-300));

  /* HomeView.vue review gradient */
  --gradient-testimonial: radial-gradient(
    77.36% 256.97% at 77.36% 57.52%,
    var(--p-purple-200) 0%,
    var(--p-blue-300) 100%
  );

  --eq-background: var(--p-gray-200);
}

/* dark mode colors */
:root[class='my-app-dark'] {
  --body-bg: var(--p-surface-950);

  --overlay: rgba(0, 0, 0, 0.2);

  /* HomeView.vue feature gradient */
  --gradient-gaming: linear-gradient(135deg, var(--p-purple-400), var(--p-blue-500));
  --gradient-audio: linear-gradient(135deg, var(--p-cyan-400), var(--p-green-500));

  /* HomeView.vue review gradient */
  --gradient-testimonial: radial-gradient(
    77.36% 256.97% at 77.36% 57.52%,
    var(--p-purple-400) 0%,
    var(--p-blue-500) 100%
  );

  --eq-background: rgb(17, 24, 39);
}
